body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F28645;
}

.card {
    background-color: #2F3136;
    font-family: monospace;
    height: 350px;
    width: 400px;
    border-radius: 20px;
}

.content {
    padding: 0 15px 0 25px;
}

.up {
    display: flex;
    justify-content: space-between;
}

.photo {
    max-width: 150px;
    border: 5px solid #2F3136;
    border-radius: 5px;
    margin-top: -50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.social-github {
    color: #F28645
}

.social-vk {
    color: #F28645
}

.social-discord {
    color: #F28645
}

.social-money {
    color: #F28645
}

.namee {
    color: white;
}


.name {
    font-size: 25px;
    line-height: 0;
    padding-top: 20px;
    color: white;
}